<body>
    <header>
        <div class="header-content">
            <h1>Liste de centre de vaccination</h1>
            <button class="login-button" routerLink="/public/login">Login</button>
        </div>
    </header>
    <main>
        <div class="wrapper">
            <!--Top menu -->
            
            <div class="sidebar">
               <!--profile image & text-->
                <!--menu item-->
            </div>
    
        </div>


        <ul>
            <li *ngFor="let b of centers">
                <p class="liste-centre"> <button routerLink="/public/center/detail/{{b.id}}">{{b.name}}</button>
                - {{b.address}}, {{b.city}} {{b.postalCode}}</p>
            </li>
        </ul>
    </main>
</body>




