:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card {
  width: 300px; /* Ajustez la largeur selon vos besoins */
  margin-top: 50px;
  align-items: center;
}

.form-field {
  width: 100%;
}

.button-login {
  width: 100%;
}




