<div class="center-container">
  
  <mat-form-field>
    <mat-label>Rechercher un centre: </mat-label>
    <input matInput type="text" placeholder="Centre Brabois" (keyup.enter)="searchCenter()" [(ngModel)]="searchQuery">
    <button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchQuery" (click)="searchQuery=''"  (click)="searchCenter()">
      <mat-icon>close</mat-icon>
    </button>
    <button matSuffix mat-icon-button aria-label="search" (click)="searchCenter()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

</div>