.center-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Utilisez flex-start pour aligner en haut */
  flex-wrap: wrap;
}

.mat-form-field {
  margin-right: 10px;
}

