.search-button {
    background-color: #dfad4e;
    color: #ffffff;
    //border-radius: 30px;
    padding: 10px 20px;
    font-size: 1.1em;
    width: 120px; /* Ajustez la largeur pour occuper toute la largeur de la carte */
  }