
<!-- Affichage du nom du centre où l'on prend drdv -->
<mat-grid-list cols="1" rowHeight="40px" *ngIf="center" class="center-container">
  <mat-grid-tile [colspan]="1">
    <h1>Prise de rendez-vous au <strong>{{ center.name }}</strong></h1>
  </mat-grid-tile>
</mat-grid-list>

<!-- Formulaire de prise de rdv -->
<div class="form-container">
  <div class="form-field-container">

    <!-- Date -->
    <mat-form-field>
      <mat-label for="Date">Date du rendez-vous: </mat-label>
      <input matInput [matDatepicker]="picker" id="Date" [(ngModel)]="date" required />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- Mail -->
    <mat-form-field>
      <mat-label for="email">Email: </mat-label>
      <input matInput placeholder="john@doe.com" type="text" id="email" [(ngModel)]="email" required />
      <mat-icon matSuffix *ngIf="!email">email</mat-icon>
      <button matSuffix mat-icon-button aria-label="Clear" *ngIf="email" (click)="email=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <!-- Phone -->
    <mat-form-field>
      <mat-label for="telephone">Téléphone: </mat-label>
      <span matPrefix>+33 &nbsp;</span>
      <input matInput maxlength="10" placeholder="0611223344" type="text" id="telephone" [(ngModel)]="telephone" required />
      <mat-icon matSuffix *ngIf="!telephone">phone</mat-icon>
      <button matSuffix mat-icon-button aria-label="Clear" *ngIf="telephone" (click)="telephone=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <!-- Prénom -->
    <mat-form-field>
      <mat-label for="prenom">Prénom: </mat-label>
      <input matInput placeholder="John" type="text" id="prenom" [(ngModel)]="prenom" required />
      <mat-icon matSuffix *ngIf="!prenom">person</mat-icon>
      <button matSuffix mat-icon-button aria-label="Clear" *ngIf="prenom" (click)="prenom=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <!-- Nom -->
    <mat-form-field>
      <mat-label for="nom">Nom: </mat-label>
      <input matInput placeholder="Doe" type="text" id="nom" [(ngModel)]="nom" required />
      <mat-icon matSuffix *ngIf="!nom">person</mat-icon>
      <button matSuffix mat-icon-button aria-label="Clear" *ngIf="nom" (click)="nom=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <!-- Annuler ou Prendre le rdv -->
    <div class="button-container">
      <button mat-raised-button class="button-actions" color="warn" aria-label="Annuler" (click)="cancel()">Annuler</button>
      <button mat-raised-button color="primary" *ngIf="email && telephone && prenom && nom" (click)="submitForm()">Prendre rendez-vous</button>
    </div>
  </div>
</div>

