<div>
    <mat-grid-list cols="3" rowHeight="40px">
        <!-- Recherche et ajout d'un centre -->
        <mat-grid-tile [colspan]="3" [rowspan]="2">
            <app-search-bar class="center-search-bar" (search)="handleSearch($event)"></app-search-bar>
            <button mat-raised-button color="primary" [routerLink]="'/superadmin/centre/0'">Nouveau <mat-icon>add</mat-icon></button>
        </mat-grid-tile>

        <!-- Liste des centres -->
        <div *ngIf="centers.length > 0">
            <div *ngFor="let aCenter of centers" [ngClass]="{'selected': selected == aCenter}">
                <mat-grid-tile [colspan]="1" [rowspan]="4">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>{{ aCenter.name }}</mat-card-title>
                            <mat-card-subtitle>{{ aCenter.address }}, {{ aCenter.postalCode }} {{ aCenter.city }}</mat-card-subtitle>
                            <button mat-icon-button aria-label="Modifier Centre" [routerLink]="'/superadmin/centre/' + aCenter.id"><mat-icon>create</mat-icon></button>
                        </mat-card-header>
                    </mat-card>
                </mat-grid-tile>
            </div>
        </div>
    </mat-grid-list>
</div>